
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */