<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Start!!! 1/20
    body
        h1 Very important moment!
        ul
            -for(var i = 0; i < 5; i++)
                li We Will Win!!!
        div #{time}
        p
            input#text.memo
        p.
            Pug is a terse and simple<br>
            templating language with a <br>
            strong focus on performance<br>
            and powerful features.<br><br>