<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug
    body
        h1 Pug is Template View Engine~!
        ul
            -for(var i = 0; i < 5; i++)
                li Let's Coding~!
        p #{_pug}
        p #{time}