<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Creat list
    body
        h1
            <a href='/topic'>Enter</a> the Information
        ul
            h2
                each topic in files
                    li
                        a(href='/topic/'+topic) #{topic}
        article
            p
                h2 #{title}
            p
                h3 #{description}
        form(action="/topic" method='post')
            p
                input(type='text', name='title' placeholder='Information to Enter')
            p
                textarea(name='description')
            p
                input(type="submit")